.switchCard {
    background: #fff;
    margin-top: 10px;
  
    .el-select {
      width: 100%;
    }
    .el-row {
      margin: 10px 0;
    }
    .el-col-2 {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 13px;
      font-weight: 600;
    }
    .searchBtns {
      display: flex;
      align-items: center;
  
      .searchResult {
        color: #7c7c7c;
        font-size: 12px;
        margin-left: 6px;
      }
    }
  }
  .SearchResultTab {
    margin-top: 10px;
  }